# Адрес, на котором слушает прокси
PROXY_ADDRESS=0.0.0.0:7000
# Ключ, с которым запросы идут к проксе
PROXY_AUTH_KEY=very-secret-key
# Юзер-агент, который прокся будет показывать попенам и куктропикам
PROXY_USER_AGENT=jija/0.1.0

# Более читабельный формат (да?) логов 
PRETTY_LOGS=false

# Эндпоинт с апи куктропиков 
ANTHROPIC_BASE_URL=https://api.anthropic.com
# Ключ куктропиков
ANTHROPIC_AUTH_KEY=sk-***

# Эндпоинт с апи попенов
OPENAI_BASE_URL=https://api.openai.com
# Ключ попенов
OPENAI_AUTH_KEY=sk-***