PROXY_ADDRESS=0.0.0.0:7000
PROXY_AUTH_KEY=very-secret-key
PROXY_USER_AGENT=jija/0.1.0

PRETTY_LOGS=false

ANTHROPIC_BASE_URL=https://api.anthropic.com
ANTHROPIC_AUTH_KEY=sk-***

OPENAI_BASE_URL=https://api.openai.com
OPENAI_AUTH_KEY=sk-***